.button {
  border-radius: 4px;
  background-color: transparent;
  color:white;
  border: 2px solid #4CAF50;
  font-size:20px;
  padding:relative;
  width: relative;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
   margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\2193';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
